/* Hero Section */
.hero {
    text-align: center;
    padding: 60px 0 ;
    height: 100%;
    
}

.main-top-icon {
    font-size: 40px;
    color: var(--primary-green);
    margin-bottom: 15px;
    transition: var(--transition);
    animation: logo_in 15s linear infinite;
    margin-top: 50px;
}
@keyframes logo_in{
    from{transform: rotate(0deg );}
    to{transform: rotate(360deg );}
}

.hero h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.hero p {
    color: var(--text-gray);
}

/* Products Grid & Cards */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 25px;
    padding-bottom: 80px;
}

.product-card {
    background: #fff;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    overflow: hidden;
    transition: var(--transition);
    cursor: pointer;
}


.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.08);
    border-color: var(--primary-green);
}

.products-grid h2 {
    grid-column: 1 / -1; 
    width: 100%;
    margin: 40px 0 20px 0; 
    padding: 10px 0;
    text-align: left; 
    font-size: 24px;
    font-weight: bold;
    color: #1a202c;
    border-bottom: 2px solid #00844441; 
    border-left: 4px solid var(--primary-green); 
    padding-left: 7px;
}

.product-info pre {
    font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
    color: #34604b88;
    margin-bottom: 15px;
}

.product-image {
    height: 220px;
    background: #f8fafc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    overflow: hidden;
}

.product-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: var(--transition);
}
/* أنيميشن زووم خفيف للصورة */
.product-card:hover .product-image img:hover {
    transform: scale(2); 
}

.product-info {
    padding: 25px;
}

.product-info h3 {
    font-size: 20px;
    margin-bottom: 12px;
}

.product-info p {
    color: var(--text-gray);
    font-size: 14px;
    margin-bottom: 15px;
}

.features-list {
    list-style: none;
    margin-bottom: 20px;
}

.features-list li {
    font-size: 14px;
    margin-bottom: 8px;
    position: relative;
    padding-right: 20px;
}

.features-list li::before {
    content: "•";
    color: var(--primary-green);
    position: absolute;
    right: 0;
    font-weight: bold;
}

.supplier-info {
    font-size: 12px;
    color: var(--primary-green);
    background: #f0fdf4;
    padding: 8px 12px;
    border-radius: 6px;
    display: inline-block;
}